# Python-specific ignores
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment directories
venv/
env/
.venv/

# Dataset and model files

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Miscellaneous
*.log
*.DS_Store